body {
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #23252c;
    color: white;
    font-family: 'Inter', sans-serif;
}

#root {
    width: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Main {
    width: 317px;
    background-color: #1A1B21;
    border-radius: 0  0 10px 10px;
    margin: 0px;
    }
.Photo  {
    width: 317px;
    border-radius: 10px 10px 0px 0px;
}



.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Info > h2 {
    margin-top: 21px;
    margin-bottom: 6px;
    font-size: 25px;
    font-weight: 700;
}
.job{
    color: #F3BF99;
    font-size: 12.8px;
    margin-top: 0px;
    margin-bottom: 8px;;
}

.site {
    font-size: 10.24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}
.EmailBtn > a {
    text-decoration: none;
    color: black;
}

.LinkedinBtn > a {
    text-decoration: none;
    color: white;
}

.btns > button {
    width: 115px;
    height: 34px;
}

.EmailBtn {
    background-color: white;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EmailBtn >img {
    margin-right: 9.6px;
}

.LinkedinBtn {
    background-color: #5093E2;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LinkedinBtn >img {
    margin-right: 9.6px;
}

.about, .interests{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
}

.about > h2, .interests > h2 {
    font-size: 16px;
    font-weight: 700;
}

.about > p, .interests > p {
    font-size: 10.24px;
    line-height: 15px;
}

.social {
    padding: 20px 72px;
    display: flex;
    justify-content: space-around;
}